.mode {
    border: 1px green solid;
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
    height: 60px;
}

.textleft {
    padding-top: 15px;
}

.textright{
    padding-top: 15px;
}